body {
    background-color: black;
}

#logo {
    margin-top: 20vh;
}

#searchInput {
    width: 25vw;
}
.scrollable-element {
    scrollbar-width: thin;
}

.btn-outline-secondary {
    background-color: #ffffff;
    color: #ced4da;
    border-color: #ced4da;
}

.btn-outline-secondary:hover {
    background-color: #ffffff;
    border-color: #ced4da;
}

.btn-outline-secondary:focus {
    box-shadow: 0 0 2rem 0.25rem #adb5bd;
}

.btn {
    margin-left: -50px;
    border-radius: 00px 300px 300px 00px;
    border-left: none;
}

.form-control {
    border-radius: 300px;
    border-right: none;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #adb5bd;
    outline: 0;
    box-shadow: 0 0 2rem 0.25rem #adb5bd;
}

#search {
    height: 100vh;
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#fade {
    height: 140px;
    margin-top: -140px;
    width: 100%;
    /* background-color: white; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, black 100%);
    /* background; */
}

.title-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.615em;
    color: #b1b1b1;
}

.title-group::after {
    content: " ";
    background-color: #b1b1b1;
    display: block;
    height: 2px;
    width: 60%;
}

.adjust-pd {
    padding: 0 50px;
}

.text-center {
    text-decoration: none;
    color: white;
}

.text-center:hover {
    text-decoration: none;
    color: #ed1d24;
}

.col-12 {
    padding: 0px;
}

#anchor {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 80vh;
    left: 49vw;
}
#anchor:hover {
    text-decoration: none;
    color: #ed1d24;
}

#anchorImg {
    width: 50px;
    height: 50px;
}
